@font-face {
    font-family: "Neue Mchina";
    src: url(./Neue\ Machina\ Regular\ 400.otf);
}
@font-face {
    font-family: "Manrope";
    src: url(./Manrope-VariableFont_wght.ttf);
}

:root{
    --orange: #e8612c;
    --white: #fffefe;
    --secondary-white: #d6d6d7;
    --cream: #fff2ee;
    --pad-btn: 10px 30px;
}

*{
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
    background-color: black;
}
main{
    position: relative;
}


@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.track {
  animation: marquee 12s linear infinite;
}